@font-face {
    font-family: 'TeleNeo';
    src: url('fonts/TeleNeo.woff') format('woff');
    src: url('fonts/TeleNeoBold.woff') format('woff');
}

.title {
    font-family: TeleNeo;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
}

.center {
    width:800px; margin:0 auto;
    font-family: 'TeleNeo';
}

.score {
    margin-top: 10px;
}
.status.gold {
    float: left;
    width: 130px;
    height: 31px;

    background: #FFDC61;
    border: 1px solid #EBC84D;
    box-sizing: border-box;
    border-radius: 4px;

    padding: 3px;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2px;

    /* Screen/Gray 5 */

    color: #4B4B4B;
    margin-right: 7px;
}

.score .result {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7C7C7C;
    padding: 8px;
}
.star {
    width: 18px;
    height: 18px;
    background-image: url("img/star.png");
    float: left;
    margin: 7px 3px 0px 0px;
}
.star.gold {
    background-image: url("img/star-gold.png");
}

.infromation {
    margin-top: 20px;
    width: 580px;
    height: 185px;
}

.infromation > div {
    width: 580px;
    display: block;
    display: flex;
    justify-content: space-between;
}

.infromation .left {
    margin: 0;
    padding-top: 10px;
    font-family: TeleNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
}

.infromation .right {
    margin: 0;
    padding-top: 10px;
    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #4B4B4B;
}

.underline {
    text-decoration-line: underline;
}
.underline:hover {
    cursor: pointer;
    text-decoration-line: none;
}

.products {
    margin-top: 35px;
    width: 320px;
    height: 246px;
}

.product-1 {
    display: flex;
    padding: 15px 0 15px 11px;
    width: 580px;
    height: 50px;

    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: space-between;
}
.product-2 {
    display: flex;
    padding: 15px 0 15px 11px;
    width: 580px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: space-between;
    margin: 15px 0;
}

.phone {
    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #E20074;
}

.green {
    width: 24px;
    height: 24px;
    background-image: url("img/green.png");
    margin-right: 15px;
    margin-top: -3px;
}

.type {
    font-family: TeleNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    margin-right: 94px;
    width: 128px;
}

.cost {
    font-family: TeleNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #4B4B4B;
    margin-right: 14px;
    
}

.add_products {
    margin-top: 21px;
    width: 135px;
    height: 25px;
    background-image: url("img/add-device.png");
    background-repeat: no-repeat;

    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #E20074;
    padding: 2px 0 0 33px
}

.add_products:hover {
    cursor: pointer;
}

.other {
    margin-top: 5px;
    display: flex;
    width: 576px;
    height: 600px;
    flex-wrap: wrap;
}
.box {
    margin-top: 20px;
    width: 278px;
    height: 160px;

    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 4px;
}
.other .box:nth-child(2n) {
    margin-left: 19px;
}
.info {
    width: 256px;
    height: 59px;
    display: flex;
    border-bottom: 1px solid #D0D0D0;
    margin: 0 10px;
    justify-content: space-between;
}

.info:nth-child(2) {
    border: none;
}

.info .face {
    margin: 10px 0 0 0px;
    width: 30px;
    height: 30px;
    background-image: url(img/boy.png);
    margin-right: 10px;
}

.info .face.hide {
    background-image: url(img/boy-hide.png);
}

.info .mobile {
    margin: 10px 0 0 0px;
    width: 30px;
    height: 30px;
    background-image: url(img/device-phone.png);
    margin-right: 10px;
}
.info .name {
    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #E20074;
    margin-top: 12px;
    width: 190px;
}

.info .name-hide {
    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-top: 12px;
    width: 190px;
    color: #7C7C7C;
}

.info .name-hide span:nth-child(2){
    font-family: TeleNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7C7C7C;
    display: flex;
}

.info .name span:nth-child(2){
    font-family: TeleNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E20074;
    display: flex;
}

.question:hover {
    cursor: pointer;
}

.question {
    width: 16px;
    height: 16px;
    background-image: url("img/alert.png");
    margin: 10px 0px 0px 0;
}

.information2 {
    margin-top: 10px;
    width: 278px;
    height: 44px;
    margin-bottom: 10px
}

.information2 > div {
    width: 278px;
    display: block;
    display: flex;
    justify-content: space-between;
}

.information2 .left {
    margin: 0 0 0 10px;
    font-family: TeleNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6C6C6C;
}

.information2 .right {
    margin: 0 10px 0 0;
    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #6C6C6C;
}

.expiried {
    width: 257px;
    height: 26px;
    background: #FF9A1E;
    border-radius: 2px;

    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 6px 0 0 10px;
    display: table;
}

.expiried span:hover {
    cursor: pointer;
}

.expiried span {
    display: table-cell;
    vertical-align: middle;
}

.prediction {
    width: 276px;
    height: 26px;
    background: #D0D0D0;
    border-radius: 2px 2px 0px 0px;

    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: table;
}

.prediction span {
    display: table-cell;
    vertical-align: middle;
}

.box.small {
    height:140px;
}

.home {
    margin: 10px 0 0 0px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url("img/home.png");
    background-repeat: no-repeat;
}

.internet {
    margin: 10px 0 0 0px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url("img/internet.png");
    background-repeat: no-repeat;
}

.text {
    width: 230px;
    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #E20074;
    margin-top: 9px
}

.not_poland {
    width: 257px;
    height: 26px;
    background: #FF311E;
    border-radius: 2px;

    font-family: TeleNeo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 6px 0 0 10px;
    display: table;
}

.not_poland span:hover {
    cursor: pointer;
}

.not_poland span {
    display: table-cell;
    vertical-align: middle;
}